# Ignore Python virtual environment
src/codes/venv/

# Ignore model files
src/codes/*.h5
src/codes/*.weights.h5
src/codes/*.json

# Python junk
embeddedcodes/venv/

# Ignore uploaded images
embeddedcodes/uploadedimages/

# Optional: common Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.DS_Store

